extends layout

block content
     div(id='ownerDetails')

block script
    script.
        axios.get('/owner/#{ownerId}')
                    .then(function (response) {
                        console.log(response);
                        document.getElementById('ownerDetails').innerHTML = 
                        '<p><strong>Name: </strong>' + response.data.name + '</p>' +
                        '<p><strong>Address: </strong>' + response.data.address + '</p>' +
                        '<p><strong>Email: </strong>' + response.data.email + '</p>' +
                        '<p><a href="/views/owner/#{ownerId}/pet/add">Add Pet</a></p>'
        })
        
